<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <mysql>
        <connections>
            <add name="autoStoreDb"
                 host="localhost"
                 userName="root"
                 password="xoz9in"
                 dbName="autoStore"/>
        </connections>
    </mysql>
</configuration>